@font-face {
  font-family: Vag;
  src: url(./fonts/VAGRoundedBT.ttf);
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #ffffff;
  background-color: rgb(204, 148, 83);
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-radius: 20px;
}

.section-products .single-product .part-1 .new2 {
  left: 20px;
  top: 15px;
  position: absolute;
  color: #ffffff;
  background-color: #000000;
  padding: 2px 8px;
  text-transform: inherit;
  font-size: 0.85rem;
  border-radius: 20px;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
  text-align: center;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
  text-decoration: line-through;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 250px;
  max-height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products #product-1 .part-1::before {
  background: url("https://static.ticimax.cloud/43426/Uploads/UrunResimleri/thumb/turk-kahvesi-100-gr-cc0-8e.jpg")
    no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("https://static.ticimax.cloud/43426/Uploads/UrunResimleri/thumb/dag-cilekli-turk-kahvesi-100-gr--fba-e7.jpg")
    no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("https://static.ticimax.cloud/43426/Uploads/UrunResimleri/thumb/damla-sakizli-turk-kahvesi-100-gr-fd9b-4.jpg")
    no-repeat center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("https://static.ticimax.cloud/43426/Uploads/UrunResimleri/thumb/gullu-lokumlu-turk-kahvesi-100-gr-ad2b-4.jpg")
    no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #ffffff;
  background-color: rgb(204, 148, 83);
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-radius: 20px;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.favori {
  display: block;
  position: absolute;
  right: 0;
  bottom: 5px;
  padding: 20px;
}
