@font-face {
  font-family: VagKalin;
  src: url(./fonts/VAGRoundedBT.ttf);
}
@font-face {
  font-family: Vag;
  src: url(./fonts/Vag.ttf);
}
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&amp;display=swap&amp;subset=latin-ext);
body {
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}
.maxWidth {
  max-width: 1230px !important;
}
.uyeGirisTitle {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  font-weight: 600;
}

.btn.benimDiyarimBtn {
  background: #cc9453 none repeat scroll 0 0 !important;
  border-color: #cc9453;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  border-radius: 0;
  margin-top: 20px;
}
.btn.benimDiyarimBtn:hover {
  background-color: #333 !important;
  color: #fff;
}
.sifremiUnuttum {
  display: flex;
  justify-content: flex-end;
  line-height: normal;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  font-size: 12px;
  margin: 20px 0;
  color: #666;
  transition: background 0.1s ease-in-out;
}
.sifremiUnuttum a:hover {
  color: #cc9453;
}
#uyeGiris input,
#uyeOl input {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3px;
  background-color: #fff;
  height: auto;
  border-radius: 0;
  box-shadow: none;
  padding: 15px 0;
  border: 1px solid #eee;
  font-weight: 400;
  color: #555;
  width: 100%;
  text-indent: 15px;
  font-size: 0.8rem;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #eee !important;
}
.sifreGoz {
  margin-top: -15px;
}
#uyeOl input[type="tel"] {
  text-indent: 65px;
}
#uyeOl input[type="checkbox"] {
  width: 5% !important;
}
.bayrak {
  margin-top: -10px;
}
.bayrakOku {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
