@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container-topNavbar {
  background-color: rgb(235, 235, 235) !important;
  height: 40px;
  font-size: 11.6px;
  padding: 10px;
}
.container-topNavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container-topNavbar li {
  float: left;
}
.container-topNavbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  height: 50px;
  width: 100%;
  font-size: 16px;
}

.logo img {
  height: 70px;
  width: 90px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20;
  padding: 10;
}

nav li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.search-cart {
  display: flex;
  align-items: center;
}

.search-cart a {
  margin-left: 10px;
  color: #333;
}

.search-cart a:hover {
  color: #cc9453 !important;
}

.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
}

.dropdown:hover ul {
  display: flex;
}

.dropdown li {
  display: flex;
  margin-right: 0;
}

.dropdown li a {
  padding: 0px 20px;
  font-size: 16px;
  color: black;
  display: flex;
}

.dropdown li a:hover {
  color: #cc9453;
  background-color: white;
}
header a:hover {
  color: #cc9453 !important;
  background-color: white;
}

.dropdown a:hover {
  color: #cc9453 !important;
  background-color: white;
}

.lang img {
  width: 22px;
}
.lang a {
  display: flex;
  margin-bottom: 2px;
}
