* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-topNavbar {
  background-color: rgb(235, 235, 235) !important;
}
.container-topNavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container-topNavbar li {
  float: left;
}
.container-topNavbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
.container-fluid-Navbar {
  background-color: rgb(254, 255, 254);
  display: flex;
  justify-content: space-around;
}
.container-fluid-Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-content: space-around;
}
.container-fluid-Navbar li {
  justify-content: space-around;
  display: flex;
  float: left;
}
.container-fluid-Navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
.container-fluid-Navbar a:hover {
  color: orange;
}
