* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vag, serif;
}

@font-face {
  font-family: Vag;

  src: url(./fonts/VAGRoundedBT.ttf);
}

.centerFlex {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 85% !important;
}
